<header class="py-6 font-semibold sm:py-10 text-neutral-900 dark:text-neutral print:hidden">
  <nav class="flex justify-between">
    {{/* Site banner/title */}}
    <div class="z-40">
      {{ if .Site.Params.Banner -}}
        {{ $banner := resources.Get .Site.Params.Banner }}
        {{ if $banner }}
          <a href='{{ "" | relLangURL }}'>
            <img
              src="{{ $banner.RelPermalink }}"
              width="{{ div $banner.Width 1 }}"
              height="{{ div $banner.Height 1 }}"
              class="max-w-[20rem] max-h-[20rem] object-scale-down object-left"
              alt="{{ .Site.Title }}"
            />
          </a>
        {{ end }}
      {{ else }}
        <a
          class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
          rel="me"
          href='{{ "" | relLangURL }}'
          >{{ .Site.Title | markdownify | emojify }}</a
        >
      {{- end }}
      {{ partial "translations.html" . }}
    </div>
    {{/* Hamburger menu */}}
    {{ if or .Site.Menus.main (.Site.Params.enableSearch | default false) }}
      <label id="menu-button" for="menu-controller" class="block">
        <input type="checkbox" id="menu-controller" class="hidden" />
        <div class="cursor-pointer hover:text-primary-200 dark:hover:text-primary-200">
          {{ partial "icon-big.html" "barsmenu" }}
        </div>
        <div
          id="menu-wrapper"
          class="fixed inset-0 z-30 invisible w-screen h-screen px-6 py-6 overflow-auto transition-opacity opacity-0 cursor-default sm:px-14 md:px-24 lg:px-32 sm:py-10 sm:pt-10 bg-neutral-100/50 backdrop-blur-sm dark:bg-neutral-900/50"
        >
          <ul
            class="flex flex-col m-auto mx-4 overflow-visible list-none ltr:text-right rtl:text-left max-w-7xl"
          >
            <li class="mb-1">
              <span class="cursor-pointer hover:text-primary-200 dark:hover:text-primary-200"
                >{{ partial "icon.html" "xmark" }}</span
              >
            </li>
            {{ if .Site.Menus.main }}
              {{ range .Site.Menus.main }}
                <li class="mb-1">
                  <a
                    class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    >{{ .Name | markdownify | emojify }}</a
                  >
                </li>
              {{ end }}
            {{ end }}
            {{ if .Site.Params.enableSearch | default false }}
              <li>
                <button
                  id="search-button"
                  class="text-base hover:text-primary-200 dark:hover:text-primary-200"
                  title='{{ i18n "search.open_button_title" }}'
                >
                  {{ partial "icon.html" "search" }}
                </button>
              </li>
            {{ end }}
          </ul>
        </div>
      </label>
    {{ end }}
  </nav>
</header>
